#### Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
Sample Text- 'Python Exercises, PHP exercises.'
Expected Output: Python:Exercises::PHP:exercises:

In [2]:
import re

In [2]:
sample_txt= 'Python Exercises, PHP exercises.'
print(re.sub("[ ,.]", ":", sample_txt))

Python:Exercises::PHP:exercises:

#### Question 2- Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
Expected output-
0      hello world
1             test
2    four five six

In [3]:
import pandas as pd
import re

In [4]:
dictionary = {'SUMMARY': ['hello, world!', 'XXXXX test', '123four, five:; six...']}

In [5]:
df = pd.DataFrame(dictionary)

In [6]:
df['SUMMARY']= df['SUMMARY'].str.replace('[^a-z\s]', '', regex=True)

In [7]:
print(df['SUMMARY'])

0      hello world
1             test
2    four five six
Name: SUMMARY, dtype: object

#### Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [8]:
def find_all_words(string):
    pattern = re.compile(r'\b\w{4,}\b')
    matches = pattern.findall(string)
    return matches

string= "This is the kind of Regular Expressions Assignment"
output=find_all_words(string)
print(output)

['This', 'kind', 'Regular', 'Expressions', 'Assignment']

#### Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [9]:
def all_words(text):
    pattern = re.compile(r'\b\w{3,5}\b')
    matches = pattern.findall(text)
    return matches
text = "The sample text containg three four five character words in string"
result = all_words(text)
print(result)

['The', 'text', 'three', 'four', 'five', 'words']

#### Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

In [10]:
def remove_parenthesis(text):
    pattern = re.compile(r'\(|\)')
    for i in range(len(text)):
        text[i] = re.sub(pattern, '', text[i])
    return text
text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
result = remove_parenthesis(text)

for txt in result:
    print(txt)

example .com
hr@fliprobo .com
github .com
Hello Data Science World
Data Scientist

#### Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output: ["example", "hr@fliprobo", "github", "Hello", "Data"]
Note- Store given sample text in the text file and then to remove the parenthesis area from the text.

In [11]:
with open('C:/Users/LIKITHA/Downloads/file.txt', 'r') as file:
    text = file.read()

In [12]:
result = re.sub(r'\s*\([^)]*\)', '', text)
print(result)

["example", "hr@fliprobo", "github", "Hello", "Data"]

#### Question 7- Write a regular expression in Python to split a string into uppercase letters.
Sample text: “ImportanceOfRegularExpressionsInPython”
Expected Output: [‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]

In [13]:
sample_text = "ImportanceOfRegularExpressionsInPython"
output = re.findall('[A-Z][^A-Z]*', sample_text)
print(output)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

#### Question 8- Create a function in python to insert spaces between words starting with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

In [14]:
def spaces(text):
    pattern= r'([A-Za-z]+)(\d+)'
    result = re.sub(pattern, r'\1 \2', text)
    return result

text = "RegularExpression1IsAn2ImportantTopic3InPython"
output = spaces(text)
print(output)

RegularExpression 1IsAn 2ImportantTopic 3InPython

#### Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output:  RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [15]:
def spaces(text):
    pattern = r'([A-Za-z]+|\d+)'
    result = re.sub(pattern, r' \1' ,text)
    return result

text = "RegularExpression1IsAn2ImportantTopic3InPython"
output = spaces(text)
print(output)

 RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

#### Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.
Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [16]:
github_link = "https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv"
df = pd.read_csv(github_link)

In [17]:
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [18]:
df['first_five_letters'] = df['Country'].str[:6]

In [19]:
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada

#### Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [20]:
def str_match(string):
    pattern = r'^[a-zA-Z0-9_]+$'
    match = re.match(pattern, string)
    if match:
        return True
    else:
        return False
text = input("Enter input string:- ")
if str_match(text):
    print("The string is matched")
else:
    print("The String is not matched")

Enter input string:- DataScience_Worldyear_2024
The string is matched

#### Question 12- Write a Python program where a string will start with a specific number.

In [22]:
def starts_specific_number(string, number):
    number = str(number)
    if string.startswith(number):
        return True
    else:
        return False

input1 = "8030467datascience"
number1 = 803
print(starts_specific_number(input1, number1))  

input2 = "15678word"
number2 = 5678
print(starts_with_number(input2, number2))

True
False

#### Question 13- Write a Python program to remove leading zeros from an IP address

In [24]:
def remove_lead_zeros(ip_address):
    pattern = r'\b0+(\d)'
    new_ip_address = re.sub(pattern, r'\1', ip_address)
    return new_ip_address

ip_address = "178.146.08.001"
output = remove_lead_zeros(ip_address)
print(output)

178.146.8.1

#### Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.
Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.
Expected Output- August 15th 1947
Note- Store given sample text in the text file and then extract the date string asked format.

In [27]:
with open('C:/Users/LIKITHA/Downloads/file2.txt', 'r') as file:
    text = file.read()
pattern = r'\b[A-Z][a-z]+\s\d{1,2}(?:st|nd|rd|th)?\s\d{4}\b'
matches = re.findall(pattern, text)

for i in matches:
    print(i)

August 15th 1947

#### Question 15- Write a Python program to search some literals strings in a string. 
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox', 'dog', 'horse'

In [10]:
sample_text = 'The quick brown fox jumps over the lazy dog.'
searched_words = [ 'fox', 'dog', 'horse' ]
for pattern in searched_words:
    print('searched words:' , pattern)
    if re.search(pattern,  sample_text):
        print(pattern,'is matched')
    else:
        print( pattern ,'is not Matched')

searched words: fox
fox is matched
searched words: dog
dog is matched
searched words: horse
horse is not Matched

#### Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox'

In [38]:
text = 'The quick brown fox jumps over the lazy dog.'
search_word='fox'
pattern=re.compile(search_word)
match = re.search(pattern, text)
loc = re.finditer(pattern,text)
print(match,loc)

<re.Match object; span=(16, 19), match='fox'> <callable_iterator object at 0x000002B861F35ED0>

#### Question 17- Write a Python program to find the substrings within a string.
Sample text : 'Python exercises, PHP exercises, C# exercises'
Pattern : 'exercises'.

In [23]:
text = 'Python exercises, PHP exercises, C# exercises' 
pattern = 'exercises' 
substrings = re.findall(pattern, text)
print('matched subtrings:',substrings)

matched subtrings: ['exercises', 'exercises', 'exercises']

#### Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [46]:
sampletext = 'Python exercises, PHP exercises, C# exercises'
pattern = re.compile('exercises')
substrings = re.findall(pattern, sampletext)
loc = re.finditer(pattern,sampletext)
for i in (loc):
    print(i)

<re.Match object; span=(7, 16), match='exercises'>
<re.Match object; span=(22, 31), match='exercises'>
<re.Match object; span=(36, 45), match='exercises'>

#### Question19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [52]:
def convert_date(date): 
        return re.sub(r'(\d{4})-(\d{1,2})-(\d{1,2})', '\\3-\\2-\\1', date) 
date = "2024-02-01" 
print("Before converting date format: ",date1) 
print("After converting date format: ",convert_date(date1))

Before converting date format:  2024-02-01
After converting date format:  01-02-2024

#### Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.
Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']

In [54]:
def find_all_decimals(string):
    pattern = re.compile(r'\b(\d+\.\d{1,2})\b')
    decimals = re.findall(pattern, string)
    return decimals
sample_text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
result = find_all_decimals(sample_text)
print(result)

['01.12', '145.8', '3.01', '27.25', '0.25']

#### Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [60]:
sample_text= 'Datascience Internship course takes 6 months and they provide 20 projects with 2 days holidays in year 2024.' 
match= re.finditer("\d+", sample_text)
for i in match:
    print(i.group(0)) 
    print("position at:", i)

6
position at: <re.Match object; span=(36, 37), match='6'>
20
position at: <re.Match object; span=(62, 64), match='20'>
2
position at: <re.Match object; span=(79, 80), match='2'>
2024
position at: <re.Match object; span=(103, 107), match='2024'>

#### Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.
Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
Expected Output: 950

In [64]:
SampleText = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'

numeric = re.findall(r'\d+', SampleText)
large_value = max(numeric)
print(large_value)

950

#### Question23- Create a function in python to insert spaces between words starting with capital letters.
Sample Text: “RegularExpressionIsAnImportantTopicInPython"
Expected Output: Regular Expression Is An Important Topic In Python

In [71]:
def insertspaces(text):
    pattern = r'((?<!^)(?=[A-Z]))'
    result = re.sub(pattern, ' ', text)
    return result
text = 'RegularExpressionIsAnImportantTopicInPython'
output= print(insertspaces(text))

Regular Expression Is An Important Topic In Python

#### Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [72]:
def find_sequences(text):
    pattern = r'[A-Z][a-z]+'
    sequences = re.findall(pattern, text)
    return sequences

sampletext = "This is a Great world To use Datascience Technology and Artificial intelligence."
sequences = find_sequences(sampletext)
print("Sequences are:", sequences)

Sequences are: ['This', 'Great', 'To', 'Datascience', 'Technology', 'Artificial']

#### Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
Sample Text: "Hello hello world world"
Expected Output: Hello hello world

In [76]:
def remove_continuous_duplicates(text):
    pattern = r'\b(\w+)(\s+\1\b)+'
    result = re.sub(pattern, r'\1', text)
    return result

sample_text = "Hello hello world world"
expected_output = remove_continuous_duplicates(sample_text)
print(expected_output)

Hello hello world

#### Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

In [81]:
def alphanumeric_character(string): 
    pattern= '[a-zA-z0-9]$'
    if(re.search(pattern, string)): 
        print("The string ends with alphanumeric character\n") 
 
    else: 
        print("The string does not ends with an alphanumeric character\n") 
        
alphanumeric_character("Likitha@gmail.com") 
alphanumeric_character("Likitha000$$") 
alphanumeric_character("Likitha Talluri4567") 
alphanumeric_character("talluri3333#&%")

The string ends with alphanumeric character

The string does not ends with an alphanumeric character

The string ends with alphanumeric character

The string does not ends with an alphanumeric character

#### Question 27-Write a python program using RegEx to extract the hashtags.
Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']

In [84]:
Sampletext = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo""" 
 
pattern= re.findall(r"#\w+", Sampletext) 
  
print("Expected Output:", pattern)

Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']

#### Question 28- Write a python program using RegEx to remove <U+..> like symbols
Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.
Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
Expected Output: @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [86]:
text= "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who are protesting #demonetization are all different party leaders" 
pattern = re.sub(r"<U\+[A-Z0-9]+>", "", text) 
print("Output: ", pattern)

Output:  @Jags123456 Bharat band on 28??<ed><ed>Those who are protesting #demonetization are all different party leaders

#### Question 29- Write a python program to extract dates from the text stored in the text file.
Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.
Note- Store this sample text in the file and then extract dates.

In [87]:
with open("C:/Users/LIKITHA/Downloads/file3.txt") as file: 
        for date in file: 
            dates = re.findall(r"\d{2}-\d{2}-\d{4}", date) 
            print(dates)

['12-09-1992', '15-12-1999']

#### Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
The use of the re.compile() method is mandatory.
Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
Expected Output:  following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.

In [95]:
def words_remove(string): 
    pattern= re.compile(r'\b\w{2,4}\b') 
    result= re.sub(pattern,"", text)
    return result
 
text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
print(words_remove(text))

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.